img {
    max-width:100%;
    height:auto;
}
body {
    background-color: #45525f;
}
.header {
    color: ghostwhite;
    font-family: "Roboto Condensed", bold;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #2b333b;
    list-style-type: none;
    font-family: "Roboto Condensed", bold;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    color: ghostwhite;
    float: left;
    display: block;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}